*{
    margin: 0;
    padding: 0;
}
.background{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    background-size: cover;
    padding:0 0 100px 0 ;
}
h1{
    font-size: 50px;
    font-family: "Yuji Mai", serif;
    text-align: center;
    padding: 30px;
}
.icon{
    position: fixed;
    top: 5px;
    left: 5px;
    width: 130px;
    height: 60px;
    background-color: rgba(245, 222, 179, 0.8);
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-align: center;
    line-height: 200%;
    z-index: 3;
}
nav li{
    
    display: inline-block;
    text-align: center;
    border-left: 1px solid black;
    width: 160px;
    margin-bottom: 15px;
}
nav li:nth-of-type(6){
    border-right: 1px solid black;
}
nav ul{
    font-size: 30px;
    list-style-type: none;
    text-align: center;
    margin-top: 80px ;
}
.novel{
    width: 1133px;
    transform: scale(2.1,1.5) translateX(290px);
    margin: 0 0 60px 0;
    padding: 0;
}
.novel1{
    display: none;
}
.recorder_1:nth-of-type(1){
    transform: translateX(120px);
}
.recorder_1:nth-of-type(2){
    transform: translateX(140px);
}
.recorder_1:nth-of-type(3){
    transform: translateX(130px);
}
.recorder_1:nth-of-type(4){
    transform: translateX(100px);
}
.recorder_1:nth-of-type(5){
    transform: translateX(100px);
}
.recorder_1:nth-of-type(6){
    transform: translateX(px);
}
.recorder_1:nth-of-type(7){
    transform: translateX(px);
}
.recorder_1:nth-of-type(8){
    transform: translateX(px);
}
.recorder_1:nth-of-type(9){
    transform: translateX(px);
}
.recorder_1:nth-of-type(10){
    transform: translateX(px);
}
.recorder_1:nth-of-type(11){
    transform: translateX(px);
}
.recorder_1:nth-of-type(12){
    transform: translateX(px);
}
.recorder_1:nth-of-type(13){
    transform: translateX(px);
}
.recorder_1:nth-of-type(14){
    transform: translateX(px);
}
.recorder_1:nth-of-type(15){
    transform: translateX(px);
}
.recorder_1:nth-of-type(16){
    transform: translateX(px);
}
.recorder_1:nth-of-type(17){
    transform: translateX(px);
}
.recorder_1:nth-of-type(18){
    transform: translateX(px);
}
.recorder_1:nth-of-type(19){
    transform: translateX(px);
}
.recorder_1:nth-of-type(20){
    transform: translateX(px);
}
.recorder_1:nth-of-type(21){
    transform: translateX(px);
}
.recorder_1:nth-of-type(22){
    transform: translateX(px);
}
.recorder_1:nth-of-type(23){
    transform: translateX(px);
}
.recorder_1:nth-of-type(24){
    transform: translateX(px);
}
.recorder_1:nth-of-type(25){
    transform: translateX(px);
}
.recorder_1:nth-of-type(26){
    transform: translateX(-500px);
}
.recorder_1:nth-of-type(27){
    transform: translateX(-500px);
}
.recorder_1:nth-of-type(28){
    transform: translateX(-500px);
}
.recorder_1:nth-of-type(29){
    transform: translateX(-500px);
}
.recorder_1:nth-of-type(30){
    transform: translateX(-500px);
}
.recorder1_1,.recorder1_2,.recorder1_3,.recorder1_4{
    display: none;
}

@media screen and (max-width: 1900px){
    .max2200{
        position: relative;
    }
    .novel{
        display: none;
    }
    .novel1{
        display: block;
        width: 755px;
        transform: scale(2.1,1.5) translateX(185px);
        margin: 0 0 60px 0;
        padding: 0;
        /* position: absolute; */
        /* transform: translateX(840px); */
    }
    /* .recorder1{
        position: relative;
    } */
    /* first stage  */
    .recorder{
        display: none;
    }
    .recorder1_1,.recorder1_2,.recorder1_3,.recorder1_4{
        display: initial;
    }
    .recorder1_1:nth-of-type(1){
        transform: translateX(110px);
    }
    .recorder1_1:nth-of-type(2){
        transform: translateX(130px);
    }
    .recorder1_1:nth-of-type(3){
        transform: translateX(130px);
    }
    .recorder1_1:nth-of-type(4){
        transform: translateX(100px);
    }
    .recorder1_1:nth-of-type(5){
        transform: translateX(70px);
    }
    .recorder1_1:nth-of-type(6){
        transform: translateX(70px);
    }
    .recorder1_1:nth-of-type(7){
        transform: translateX(45px);
    }
    .recorder1_1:nth-of-type(8){
        transform: translateX(60px);
    }
    .recorder1_1:nth-of-type(9){
        transform: translateX(60px);
    }
    .recorder1_1:nth-of-type(10){
        transform: translateX(45px);
    }
    .recorder1_1:nth-of-type(11){
        transform: translateX(40px);
    }
    .recorder1_1:nth-of-type(12){
        transform: translateX(20px);
    }
    .recorder1_1:nth-of-type(13){
        transform: translateX(15px);
    }
    .recorder1_1:nth-of-type(14){
        transform: translateX(20px);
    }
    .recorder1_1:nth-of-type(15){
        transform: translateX(5px);
    }
    .recorder1_1:nth-of-type(16){
        transform: translateX(0px);
    }
    .recorder1_1:nth-of-type(17){
        transform: translateX(-25px);
    }
    .recorder1_1:nth-of-type(18){
        transform: translateX(-25px);
    }
    .recorder1_1:nth-of-type(19){
        transform: translateX(105px);
    }
    /* second stage  */

    .recorder1_2:nth-of-type(1){
        transform: translateX(65px);
    }
    .recorder1_2:nth-of-type(2){
        transform: translateX(80px);
    }
    .recorder1_2:nth-of-type(3){
        transform: translateX(55px);
    }
    .recorder1_2:nth-of-type(4){
        transform: translateX(25px);
    }
    .recorder1_2:nth-of-type(5){
        transform: translateX(40px);
    }
    .recorder1_2:nth-of-type(6){
        transform: translateX(10px);
    }
    .recorder1_2:nth-of-type(7){
        transform: translateX(25px);
    }
    .recorder1_2:nth-of-type(8){
        transform: translateX(40px);
    }
    .recorder1_2:nth-of-type(9){
        transform: translateX(30px);
    }
    .recorder1_2:nth-of-type(10){
        transform: translateX(50px);
    }
    .recorder1_2:nth-of-type(11){
        transform: translateX(25px);
    }
    .recorder1_2:nth-of-type(12){
        transform: translateX(30px);
    }
    .recorder1_2:nth-of-type(13){
        transform: translateX(50px);
    }
    .recorder1_2:nth-of-type(14){
        transform: translateX(40px);
    }
    .recorder1_2:nth-of-type(15){
        transform: translateX(55px);
    }
    .recorder1_2:nth-of-type(16){
        transform: translateX(85px);
    }
    .recorder1_2:nth-of-type(17){
        transform: translateX(245px);
    }

    /* third stage */
    .recorder1_3:nth-of-type(1){
        transform: translateX(70px);
    }
    .recorder1_3:nth-of-type(2){
        transform: translateX(100px);
    }
    .recorder1_3:nth-of-type(3){
        transform: translateX(90px);
    }
    .recorder1_3:nth-of-type(4){
        transform: translateX(120px);
    }
    .recorder1_3:nth-of-type(5){
        transform: translateX(160px);
    }
    .recorder1_3:nth-of-type(6){
        transform: translateX(210px);
    }
    .recorder1_3:nth-of-type(7){
        transform: translateX(230px);
    }
    .recorder1_3:nth-of-type(8){
        transform: translateX(270px);
    }
    .recorder1_3:nth-of-type(9){
        transform: translateX(300px);
    }
    .recorder1_3:nth-of-type(10){
        transform: translateX(300px);
    }
    .recorder1_3:nth-of-type(11){
        transform: translateX(325px);
    }
    .recorder1_3:nth-of-type(12){
        transform: translateX(365px);
    }
    .recorder1_3:nth-of-type(13){
        transform: translateX(550px);
    }

    /* fourth stage */

    .recorder1_4:nth-of-type(1){
        transform: translateX(70px);
    }
    .recorder1_4:nth-of-type(2){
        transform: translateX(90px);
    }
    .recorder1_4:nth-of-type(3){
        transform: translateX(65px);
    }
    .recorder1_4:nth-of-type(4){
        transform: translateX(40px);
    }
    .recorder1_4:nth-of-type(5){
        transform: translateX(60px);
    }
    .recorder1_4:nth-of-type(6){
        transform: translateX(35px);
    }
    .recorder1_4:nth-of-type(7){
        transform: translateX(50px);
    }
    .recorder1_4:nth-of-type(8){
        transform: translateX(70px);
    }
    .recorder1_4:nth-of-type(9){
        transform: translateX(65px);
    }
    .recorder1_4:nth-of-type(10){
        transform: translateX(85px);
    }
    .recorder1_4:nth-of-type(11){
        transform: translateX(60px);
    }
    .recorder1_4:nth-of-type(12){
        transform: translateX(75px);
    }
    .recorder1_4:nth-of-type(13){
        transform: translateX(95px);
    }
    .recorder1_4:nth-of-type(14){
        transform: translateX(90px);
    }
    .recorder1_4:nth-of-type(15){
        transform: translateX(110px);
    }
    .recorder1_4:nth-of-type(16){
        transform: translateX(140px);
    }
}